/* COMMUN A TOUTES LES PAGES   */


body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#results, #favorites-selection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title-album {
    font-weight: bold;
}

.line-album {
    text-align: center;
}

/* HEADER COMMUN A TOUTES LES PAGES  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5499C7;
}

.title-container {
    color: white;
}

h1 {
    font-size: 3em;
}

.navigation-container {
    width: 50%;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation-point {
    text-align: center;
}

.link-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-decoration: none;
}

.link-navigation:hover {
    color: #424949;
}

i {
    padding-right: 4%;
}

/* MAIN CONTENT   */

main {
    width: 85%;
    margin: 0 auto;
}

.main-content {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #EAEDED;
    border-radius: 5px;
}

.important-text {
    font-size: 2em;
    color: #424949;
    font-weight: normal;
}

.less-important {
    color: #839192;
}

#special-effect {
    display: none;
    margin: 0 auto;
}

.p-results {
    text-align: center;
    font-size: 1.5em;
}

/*   FOOTER   */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    height: 130px;
    background-color: #EAEDED;
    font-size: 1.2em;
}

footer img {
    width: 120px;
    height: 120px;
}

/************** INDEX   *******************/

#favorites-results {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4%;
}

.text-for-random {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#another-music {
    background: #5499C7;
    padding: 4%;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

/************** SEARCH  *******************/

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px lightgray;
    border-radius: 5px;
    min-width: 360px;
}

.form-button {
    padding: 5px;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
}

#button-submit {
    background-color: #5499C7;
}

#button-delete {
    background-color: #E74C3C;
}

#results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4%;
}

.results-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    padding: 2%;
    background-color: lightgrey;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

audio {
    width: 400px;
}

.artist-name {
    margin-top: 2%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #5499C7;
}

.favorite-button {
    margin: 0 auto;
    margin-top: 3%;
    padding: 3%;
    width: 60%;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    background-color: white;
    cursor: pointer;
    background-image: url('../assets/heart.png');
    background-repeat: no-repeat;
    background-position: center left;
}

.favorite-button:hover {
    color: white;
    background-color: red;
    opacity: 0.5;
}

.alternate {
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    width: 60%;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #E74C3C;
    cursor: pointer;
    background-image: url('../assets/broken.png');
    background-repeat: no-repeat;
    background-position: center left;
}

.alternate:hover {
    color: red;
    background-color: #839192;
    opacity: 0.5;
}




/************** FAVORITES  *******************/

.favorite-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-button {
    margin-right: 80px;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    font-size: 1.6em;
    background-color: #424242;
}

/******************  MEDIA QUERIES  *****************/

@media screen and (max-width: 1400px) {
    
    form {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 1200px) {
    
    header {
        flex-direction: column;
    }
    
    .navigation-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    #results {
        flex-direction: column;
        align-items: center;
    }

    #results .results-box {
        width: 60%;
        min-width: 360px;
    }


    audio {
        margin: 0 auto;
        width: 320px;
    }

    #favorites-results {
        flex-direction: column;
    }

    .text-for-random {
        margin-bottom: 5%;
    }

    footer {
        height: 100px;
    }

    footer img {
        width: 90px;
        height: 90px;
    }
    
}

@media screen and (max-width: 900px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9%;
        padding-bottom: 3%;
    }
    
    #clear-button {
        margin-right: 0px;
    }

    footer {
        flex-direction: column-reverse;
        height: 170px;
    }


}


