body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* HEADER COMMUN A TOUTES LES PAGES  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5499C7;
}

.title-container {
    color: white;
}

h1 {
    font-size: 3em;
}

.navigation-container {
    width: 50%;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation-point {
    text-align: center;
}

.link-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    text-decoration: none;
}

.link-navigation:hover {
    color: #424949;
}

i {
    padding-right: 4%;
}

/* MAIN CONTENT   */

main {
    width: 85%;
    margin: 0 auto;
}

.main-content {
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 3%;
    padding: 1%;
    background-color: #EAEDED;
    border-radius: 5px;
}

.important-text {
    font-size: 2em;
    color: #424949;
    font-weight: normal;
}

.less-important {
    color: #839192;
}

#special-effect {
    display: none;
    margin: 0 auto;
}

.p-results {
    text-align: center;
    font-size: 1.5em;
}

/************** INDEX   *******************/



/************** SEARCH  *******************/

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.form-button {
    padding: 5px;
    width: 40px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
}

#button-submit {
    background-color: #5499C7;
}

#button-delete {
    background-color: #E74C3C;
}

#results {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4%;
}

.results-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    background-color: lightgrey;
}

audio {
    width: 400px;
}

.artist-name {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    color: #5499C7;
}

.favorite-button {
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    width: 60%;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    background-color: white;
    cursor: pointer;
    background-image: url('../assets/heart.png');
    background-repeat: no-repeat;
    background-position: center left;
}

.alternate {
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    width: 60%;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: red;
    cursor: pointer;
    background-image: url('../assets/broken.png');
    background-repeat: no-repeat;
    background-position: center left;
}




/************** FAVORITES  *******************/

.favorite-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clear-button {
    margin-right: 80px;
    padding: 15px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    color: white;
    font-size: 1.6em;
    background-color: #424242;
}

/******************  MEDIA QUERIES  *****************/

@media screen and (max-width: 1400px) {
    
    form {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 1200px) {
    
    header {
        flex-direction: column;
    }
    
    .navigation-content {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    
}

@media screen and (max-width: 900px) {
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 9%;
        padding-bottom: 3%;
    }
    
    #clear-button {
        margin-right: 0px;
    }
}


